.category
    margin-bottom: 50px
    &__wrap
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-template-rows: repeat(3, 1fr)
        grid-gap: 20px 20px
    &-item
        display: flex
        align-items: center
        padding: 23px
        background: #FFFFFF
        border: 1px solid rgba(0, 0, 0, 0.15)
        border-radius: 5px
        transition: all 0.1s
        &:hover
            background: $c-pri
            .category-item__svg
                fill: #ffffff
            .category-item__title
                color: #ffffff
        &__icon
            display: flex
            align-items: center
        &__svg
            width: 45px
            height: 45px
            fill: #626262
        &__title 
            padding-left: 20px
            font-weight: normal
            font-size: 18px
            line-height: 22px
            color: #000000
    &-all
        position: relative
        margin-top: 20px
        text-align: center
        &__btn
            &::before, 
            &::after
                content: ''
                position: absolute
                top: 50% 
                transform: translateY(-50%)
                width: 100px
                height: 1px
                background-color: $c-sec
                transition: all 0.3s
            &::before
                left: -120px
            &::after
                right: -120px
            &:hover
                &::before
                    left: -110px
                    animation: category-all-before 0.3s ease 
                &::after
                    right: -110px
                    animation: category-all-after 0.3s ease 

.category-item.active
    background: $c-pri
    .category-item__svg
        fill: #ffffff
    .category-item__title
        color: #ffffff

@keyframes category-all-after
    0%
        right: -120px
    100%
        right: -110px
        
@keyframes category-all-before
    0%
        left: -120px
    100%
        left: -110px

@media all and (-ms-high-contrast: none) 
    .category__wrap
        display: -ms-grid
        -ms-grid-columns: repeat(4, 1fr)
        -ms-grid-rows: repeat(3, 1fr)
        margin: 0 10px 10px 0

    
@media screen and ( max-width: 1100px )
    .category
        &__wrap
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-template-rows: repeat(auto, 1fr)
            grid-gap: 15px 15px
    
@media screen and ( max-width: 991px )
    .category
        &__wrap
            grid-template-columns: repeat(2, 1fr)

@media screen and ( max-width: 768px )
    .category-item__title 
        font-size: 14px
    .category 
        margin-bottom: 30px
    
@media screen and ( max-width: 720px )
    .category
        &__wrap
            grid-template-columns: repeat(1, 1fr)

@media screen and ( max-width: 576px )
    .category-item 
        padding: 15px
    .category-item__svg
        width: 40px
        height: 40px
    .category-all__btn
        width: 100%
    .category-all__btn::before, 
    .category-all__btn::after
        display: none